/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  font-size: 16px;
}  
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
} 

.icon {
   cursor:pointer;
   font-size: 2em; 
}

.icon-home  {
   cursor:pointer;
   font-size: 4em;   
}
.icon-home-div  {
   padding:10px;
}

.icon-home-div:hover  {
	border:2px;
	color:gray;
	background:#eee;
} 
a{
    font-size:18px;
}

a.icon-home-a:hover {
    color: white;
}

/* selected link */
a.icon-home-a:link ,a.icon-home-a:visited  ,a.icon-home-a:active  {
    color: gray;
}

.green {
    color: green;
}
.white {
    color: white;
}
 
td,th{
 padding: 5px;
}

input {
    width: 100%;
    padding: 3px;
    margin: 0px;
}

.u{
text-decoration: underline;
} 