/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 80px;
}
 

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
} 

.icon {
   cursor:pointer;
   font-size: 2em;
   
}

.green {
    color: green;
}
.white {
    color: white;
}
 
td,th{
 padding: 5px;
}

.u{
text-decoration: underline;
} 