
:root {
  /* Colors. */

  --bg-color: #000000;
  --bg-modal-color: #333333;
  --bg-txt-color:#333333;
  --border-color: #fff;
  --border-hover-color: #fff;
  --text-color: #fff;


  --font-size: 1.5em;
  --font-family: sans-serif;
}
body {
    margin-top: 70px;
    font-size:var(--font-size);
    font-family: var(--font-family);
    color:var(--text-color);
    background-color:var(--bg-color);
}

.modal-inverse {
  color:var(--text-color);
  background-color:var(--bg-modal-color);
}
.navbar-fixed-top {
  border: 0;
}
.pointer {
   cursor:pointer;
}
.pointer:hover {
    color:var(--text-color);
    box-shadow: 0 0 15px var(--border-color);
    border-radius:5px;
}
.chkbox {
    cursor:pointer;
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
}
.chkbox:hover {
    color:var(--text-color);
    box-shadow: 0 0 15px  var(--border-color);
}

.icon {
    cursor:pointer;
    font-size: 2em;
    padding: 5px;
    margin: 1px;
    color:var(--text-color);
}

.icon:hover {
    box-shadow: 0 0 15px var(--border-hover-color);
    border-radius:15px;
}
.icon_nav {
    cursor:pointer;
    font-size: 1em;
    padding: 5px;
    margin: 1px;
    color:var(--text-color);
}
.icon_nav:hover {
    box-shadow: 0 0 15px var(--border-hover-color);
    border-radius:15px;
}
.icon-home  {
   cursor:pointer;
   font-size: 4em;
}
.icon-home-div  {
    padding:10px;
    border:2px solid var(--text-color);
    box-shadow: 0 0 15px  var(--border-color);
    border-radius:15px;
    margin:0px;
}

.icon-home-div:hover  {
	color:var(--text-color);
	background:var(--bg-modal-color);
    border:2px solid var(--border-hover-color);
    box-shadow: 0 0 10px  var(--border-hover-color);
}
/*replace bootstrap class*/
.dropdown-menu,
.dropdown-menu .menu-bg,
.navbar-inverse ,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-brand ,
.navbar-inverse .navbar-nav > li > a ,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a
{  color: var(--text-color);background-color: var(--bg-color); background-image: var(--bg-color);}

.dropdown-menu .menu-bg >a:hover ,
.navbar-inverse .navbar-toggle:hover ,
.navbar-inverse .navbar-brand:hover ,
.navbar-inverse .navbar-nav > li > a:hover ,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover
{  color: var(--text-hover-color);background-color: var(--bg-modal-color); background-image: var(--bg-modal-color);}


.navbar-inverse .navbar-toggle .icon-bar
{  background-color: var(--text-color); }
 .navbar-inverse .navbar-toggle .icon-bar:focus
{  background-color: var(--text-hover-color); }

.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-toggle:focus
{  color: var(--text-hover-color);background-color: var(--bg-modal-color); background-image: var(--bg-modal-color);}

a,a:visited ,a:hover ,a:active ,a.icon-home-a:hover,a.icon-home-a:link ,a.icon-home-a:visited  ,a.icon-home-a:active  {
  color: var(--text-color);
      text-decoration: none;
}


.green {
    color: green;
}
.white {
    color: white;
}
.darkgray {
    color: darkgray;
}

td,th{
 padding: 5px;
 white-space:nowrap;

}
.table > tbody > tr > td{
    vertical-align: middle;

}
th { 
    text-align: center;
} 

.panel-heading{
    color: var(--bg-color);
    background-color:var(--text-color);
}
.panel-body{
  background-color:var(--bg-modal-color);
}
.inputtxt:focus {
 outline: none !important;
   border:1px solid var(--border-hover-color);
   box-shadow: 0 0 15px var(--border-hover-color);
}
input[type="text"],input[type="password"],input[type="number"],input[type="tel"]{
    padding: 2px;
    color: var(--text-color);
    background-color:  var(--bg-txt-color);
    font-weight: normal;
    border:1px solid var(--border-color);
    box-shadow: 0 0 15px var(--bg-color);
    outline: none;
    letter-spacing:1px;
    text-align: left;
    width: 130px;
}

input:-webkit-input-placeholder {
color:var(--text-color)!important;
}

input:-moz-placeholder { /* Firefox 18- */
color:var( --text-color)!important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color:var( --text-color)!important;
}

input:-ms-input-placeholder {
color:var( --text-color)!important;
}
 .selectopt {
     width: 130px;
    padding: 2px;
    font-weight: normal;
    border:1px solid var(--border-color);
    box-shadow: 0 0 15px var(--bg-color);
    background:var(--bg-txt-color);
    text-shadow: 0 1px 0 var(--bg-modal-color);
     outline: none;
    letter-spacing:1px;
 }

.close {
    color: var( --text-color);
    opacity: 1;
}

.close:hover {
    color:var( --text-color);
    box-shadow: 0 0 15px  var( --border-color);
    border-radius:5px;
    opacity: 1;
    text-decoration: none;
}

.modal-body>.table>tbody>tr>td{
padding: 3px;
vertical-align: middle;
    border :0px;
}

.btn-inverse:hover {
    outline: none !important;
   border:1px solid var(--border-hover-color);
   box-shadow: 0 0 15px var(--border-hover-color);
   color: var(--text-color);
   background-color:  var(--bg-txt-color);
}

.btn-inverse:focus {
    outline: none !important;
   border:1px solid var(--border-hover-color);
   box-shadow: 0 0 15px var(--border-hover-color);
   color: var(--text-color);
   background-color:  var(--bg-txt-color);
}

.btn-inverse {
    padding: 2px;
    color: var(--text-color);
    background-color:  var(--bg-txt-color);
    font-weight: normal;
    font-size:1.2em;
    border:1px solid var(--border-color);
    box-shadow: 0 0 15px var(--bg-color);
    outline: none;
    letter-spacing:1px;
    text-align: left;
}
.row-hover:hover{
    border-bottom: 2px solid var(--border-color);
    cursor:   pointer;
}
 
.dropdown-menu-img{
    min-width:50px;
    background-color: transparent;
}
.logo { 
    background-color: white;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    min-width:50px;
    overflow-x: hidden;
    background-color: white;
}

